$font-regularText: 'DINNextLTPro-LightCondensed', sans-serif;
$font-title: 'DINNextLTPro-MediumCond', sans-serif;
$font-button: 'HelveticaRounded-BoldCond', sans-serif;
$font-subText: 'DINNextLTPro-Condensed', sans-serif;
$mainBlueColor: #033b93;
$mainYellowColor: #ffbb00;

html
{
	height: 100%;
	margin:0;
	//background-color: red;

	body
	{
		//background-color: #c4ffc4;
		/* background-image: url('../../images/home_background.jpg');
		background-position: center center ;
		background-repeat:   no-repeat ;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover; */
	  	// overflow: hidden;
	  	background-color: #d8e1e5;
	  	display: block;
	  	position: relative;
		 height: 100%;
		 margin:0;
		 color: $mainBlueColor;


		header
		{
			background-color: #ffffff; 
			
			height: 80px;
			border-top: 10px solid #ffbb00;

			#homeButton
			{
				background-image: url('../../images/logo-iTrip.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 100px;
				padding: 13px 33px;
				margin-left: 20px;
				margin-top: 14px;
				color: transparent;
				display: inline-block;
			}

			.languages
			{
				//font-size: 13px;
				@include font-size(1.3);
				position: absolute;
				top: -5px;
				right: 30px;

				li
				{
					float: left;
					padding-left:5px;
					a
					{
						color: #b3b3b3;
						text-decoration: none;

						font-family: $font-button;
					}

					a:hover
					{
						text-decoration: underline;
					}

					a.activeLanguage
					{
						text-decoration: underline;
					}
				}
			}

			nav.navigation
			{
				float:right;
				font-family: $font-button;
				margin: 2% 0;
				/* margin-top: 35px; */
				font-size: 18px;

				ul
				{
					li
					{
						float: left;
						padding: 0 15px;

						a
						{
							color:  $mainBlueColor;
							text-decoration: none;
						}

						.active
						{
							color: #ffbb00;
						}
					}
				}
			}
		}

		.overlay
		{
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 10;
			background-color: rgba(0,0,0,0.5);
		}

		#searchTrip
		{
			.title
			{
				font-family: $font-title;
				font-size: 30px;
				margin-left: 15px;
				margin-top: 5px;
			}

			#searchPanel
			{
				/* margin-top: -10px; */
				margin-top: -13px;
				overflow: scroll;
				height: 100%;
				/* overflow: scroll; */

				#searchPanelWrapper
				{
					margin-top: -5px;

					background-color: #ffffff;

					hr.upper
					{
						border-bottom: 2px dotted #d8e1e5;
						border-top: none;
						margin-left: 15px;
						margin-right: 15px;
					}

					hr.lower
					{
						border-top: 2px dotted #d8e1e5;
						border-bottom: none;
						margin-left: 15px;
						margin-right: 15px;
					}
					
					h2
					{
						font-size: 20px;
						font-family: $font-title;
					}

					p
					{
						color: #bfbfbf;
						font-size: 16px;
						font-family:$font-subText;
					}

					input#customLocation
					{
						border-radius: 5px 0 0 5px;
						border: 2px solid  $mainBlueColor;
					}

					input#submitCustomLocation
					{
						border-radius: 0 5px 5px 0;
					}

					input#submitCurrentLocation
					{
						border-radius: 5px;
					}
					// MOBILE MEDIA QUERIES --> MARGIN-RIGHT & MARGIN-LEFT:0
					// LINE 319 IN _BOOTSTRAP.SCSS (MARGIN COMMENTED OUT)
					.row
					{
						//margin-right: -15px;
						/* margin-top: 10px;; */
					}

					#customLocation
					{
						float: left;
						padding: 8px;
						width: 165px;
					}

					#sliderPart
					{
						/* margin-top: 20px; */
						margin-top: -20px;
						margin-bottom: 19px;

						/* #slider
						{
							margin-top: 5px;
							height: 0;

							.ui-slider-handle
							{
								background: #f6f6f6 url("../../images/slider.png") 50% 50% no-repeat;
								padding: 10px;
								background-size: 20px;
								border:none;
								border-radius: 9px;
								margin: -5px;
							}

							.ui-widget-header
							{
								border: 1px solid #e78f08;
								background: #f6f6f6 url("../../images/custom_slider_background.png") 50% 50% repeat-x;
								color: #ffffff;
								font-weight: bold;
							}
						} */
					}
// HERE A SOLUTION FOR THE CALENDAR AND NUMBERS OVERLAP
					#calendarPart
					{
						margin-top: -20px;
						#calendars
						{
							
							#fromDate
							{
								float: left;

								p
								{
									text-align: center;

								}

								#fromWrapper
								{
									/* position:relative; */
									font-family: $font-title;
									.showSelectedDay
									{
										position: absolute;
										top:-20px;
										width: 100%;	
										font-family: $font-button;
										color: #ffbb00;
										font-size: 38px;
									}

									.showSelectedMonth
									{
										position: absolute;
										top:-15px;
										width: 75px;
										font-size: 16px;
										color: #ffffff;
									}

									.ui-datepicker-trigger
									{
										width: 75px;
										background-image: url('../../images/calendar.png');
										background-size: 100%;
										padding: 35px;
										background-repeat: no-repeat;
										border:none;
										background-color: #ffffff;

										font-family: $font-button;
										color: #ffbb00;
										font-size: 38px;

									}

									.ui-datepicker-trigger:hover
									{
										cursor: pointer;
									}
								}


								

								#fromCalendar
								{
									/* background-color: #0000ff;
									width: 70px;
									height: 70px;
									cursor:pointer;
	 */
	 								display: none;
								}

								#selectedToDate
								{
									text-align: center;
								}
							}

							.betweenCalendars
							{
								background-image: url('../../images/arrow.png');
								background-repeat: no-repeat;
								background-size: 16px;
								padding: 8px 10px;
								background-position: center center;
								/* position: absolute;
								top: 30px;
								left: 105px; */
								margin-top: 30px;
								margin-left: 12px;
								float: left;
								width: 20px;
							}

							#toDate
							{
								float: right;

								p
								{
									text-align: center;
								}

								#toWrapper
								{
									/* position:relative; */

									font-family: $font-title;

									.showSelectedDay
									{
										position: absolute;
										top:-20px;
										width: 100%;
										font-family: $font-button;
										color: #ffbb00;
										font-size: 38px;
									}

									.showSelectedMonth
									{
										position: absolute;
										top:-15px;
										width: 75px;
										font-size: 16px;
										color: #ffffff;
									}

									.ui-datepicker-trigger
									{
										width: 75px;
										background-image: url('../../images/calendar.png');
										background-size: 100%;
										padding: 35px;
										background-repeat: no-repeat;
										border:none;
										background-color: #ffffff;
											
										font-family: $font-button;
										color: #ffbb00;
										font-size: 38px;
									}


									.ui-datepicker-trigger:hover
									{
										cursor: pointer;
									}

								}

								
								#toCalendar
								{
									/* background-color: #0000ff;
									width: 70px;
									height: 70px;

									cursor:pointer;
	 */
	 								display: none;
								}

								#selectedToDate
								{
									text-align: center;
								}
							}
						}
					}

					#submitCustomLocation
					{
						float: left;
						background-image: url('../../images/search.png');
						background-position: top 4px center;
						background-repeat: no-repeat;
						background-size: 25px;
						padding: 10px 20px;
						background-color:  $mainBlueColor;
						border: none;
						//margin-right: 20px;
					}

					#submitCurrentLocation
					{
						background-image: url('../../images/pin.png');
						background-position: top 4px center;
						background-position: top 4px center;
						background-repeat: no-repeat;
						background-size: 25px;
						padding: 10px 20px;
						background-color:  $mainBlueColor;
						border: none;
						float: right;
					}

					#searchTrip
					{
						
						@include font-size(2.8);
						@include blueButtonClass();
						font-family: $font-title;
						padding: 5px 18px;
						margin: 10px 2.5%;
						width: 95%;
						border-radius: 5px;
					}
				}
			}

			.googleMap
			{
				overflow: scroll;
				height: 100%;
				margin: 0; 
	        	margin-top: -67px;
	        	padding: 0px;

				#searchMap
				{
					/* margin-top: -20px; */

					border-left:2px solid  $mainBlueColor;
					//background-color: green;
					height: 100%;
					/* height: 87%; */
	        		/* margin: 0px; */
	        		z-index: 1;
				}
			}

			.loginBox, .registerBox
			{
				border-top: 1px solid  $mainBlueColor;
				background-color: #ffffff;
				/* width: 33%;
				margin: 0% 37%; */
				width: 33%;
				margin: 0% 33.5%;
				padding: 15px 5px 5px 5px;
				position: fixed;
				color: #033b93;
				font-family: $font-regularText;
				@include font-size(1.6);
				line-height: 24px;
				z-index: 15;
				padding-bottom: 10px;

				h1
				{
					font-family: $font-title;
					font-size: 28px;
				}

				.formGroup
				{
					margin-left: -15px;
				}

				.greySubText
				{
					@include font-size(1.6);
					color: #707070;
					font-family: $font-regularText;
					width: 100%;
					text-align: right;
					float: right;
				}

				.errorMessage
				{
					color: red;
					display: none;

					font-family: $font-regularText;
					@include font-size(1.6);
				}

				#closeImage, #closeLoginImage, #closeRegisterImage
				{
					background-image: url('../../images/close.png');
					background-position: center center;
					background-repeat: no-repeat;
					background-size: 20px;
					padding: 10px 12px;
					position: absolute;
					top: -10px;
					right: -36px;
				}

				#closeImage:hover, #closeLoginImage:hover, #closeRegisterImage:hover
				{
					cursor: pointer;
				}

				input
				{
					border-radius: 5px;
					border: 2px solid  $mainBlueColor;
					display: block;
					padding: 5px;
					width: 200px;
					@include font-size(2.0);
					font-family: $font-subText;
					margin: 10px 0;
					float: right;
				}

				input[type=text], input[type=password]
				{
					color: $mainYellowColor;
				}

				#registerButton, #loginButton, #registerUserButton
				{
					background-size: 244px;
					@include blueButtonClass();
					@include font-size(2.0);
					margin-right: 13px;
				}

				label
				{
					display: block;
					font-family: $font-button;
					/* margin: 20px 0; */
					padding: 17px 0;
					@include font-size(1.6);
				}

				p
				{
					clear: both;
					text-align: center;
					width: 50%;
					margin: 0 25%;
				}

			}

			.welcomeBox
			{
				border-top: 1px solid  $mainBlueColor;
				background-color: #ffffff;
				/* width: 49%;
				margin: 5% 25.5%; */
				width: 33%;
				/* margin: 3% 37%; */
				margin: 0% 37%;
			/* 	padding: 30px 5px 5px 5px; */
				padding: 15px 5px 5px 5px;
				position: fixed;
				/* position: absolute; */
				color: #033b93;
				font-family: $font-regularText;
				font-size: 16px;
				line-height: 24px;
				z-index: 15;

				h1
				{
					font-family: $font-title;
					font-size: 28px;
				}

				#closeImage
				{
					background-image: url('../../images/close.png');
					background-position: center center;
					background-repeat: no-repeat;
					background-size: 20px;
					padding: 10px 12px;
					position: absolute;
					top: -10px;
					right: -36px;
				}

				#closeImage:hover
				{
					cursor: pointer;
				}

				#planTripButton
				{
					margin: 9% 12.5%;
					width: 75%;
					height: 78px;
					background-size: 244px;
					@include font-size(4.0);
					@include blueButtonClass();
					font-size: 40px;
					font-family: $font-button;
				}

				.extraInfo
				{
					text-align: center;
					color: #707070;
					font-size: 18px;

					a
					{
						text-decoration: underline;
						color: #707070;
						font-weight: bold;
					}
				}
				
				.downloadApp
				{
					/* position: absolute; */
					// background-color: #ff9fff;
					/* height: 100px; */
					//float: right;
					position: absolute;
					width: 91%;
					text-align: center;
					margin-top: 15px;
					margin-bottom: 15px;

					#iphoneApp
					{
						background-image: url('../../images/android_app.png');
						background-position: center center;
						background-repeat: no-repeat;
						color: transparent;
						background-size: 100px;
						padding: 4px 0px;
						display: inline-block;
					}
					
					#androidApp
					{
						background-image: url('../../images/iphone_app.png');
						background-position: center center;
						background-repeat: no-repeat;
						color: transparent;
						background-size: 100px;
						padding: 4px 0px;
						display: inline-block;
					}
				}	
			}


		}

		#ui-datepicker-div
		{
			@include font-size(0.9);

			.ui-datepicker-month, .ui-datepicker-year
			{
				color:  $mainBlueColor ;
			}

			td
			{
				a
				{
					color:  $mainBlueColor ;
					border:none;
				}
				.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
				{

					background: none;
				}

				.ui-state-hover
				{
					color:  $mainYellowColor;
				}

			}



			.ui-datepicker-current-day
			{
				a
				{
					color:  $mainYellowColor;
					border: none;
					background-color: #ffffff;
				}
			}
		}

		.ui-widget-header
		{
			border: 1px solid $mainBlueColor;
			background:  $mainBlueColor  50% 50% repeat-x;

			.ui-state-hover .ui-icon, .ui-state-focus .ui-icon
			{
				background: none;
			}

			.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
				border: none;
				background: none;
				font-weight: bold;
				color: #c77405;
			}

			.ui-datepicker-next
			{
				.ui-icon
				{
					background-image: url('../../images/next.png');
					background-position: center center;
					background-repeat: no-repeat;
				}
			}

			.ui-datepicker-prev
			{
				.ui-icon
				{
					background-image: url('../../images/previous.png');
					background-position: center center;
					background-repeat: no-repeat;
				}
			}

			.ui-widget-header .ui-icon {
background-image: url("../../images/jquery_ui_images/ui-icons_ffffff_256x240.png");
}
		}

		.ui-widget-content 
		{
			border: 1px solid #dddddd;
			background: #ffffff 50% top repeat-x;
			color: #333333;
		}


			
	}


}

