body
{
	background-color: #c4ffc4;

	header
	{
		background-color: #ffffc4;
		height: 70px;

		nav.navigation
		{
			float:right;
			margin: 2% 0;
			margin-right: 5%;

			ul
			{
				li
				{
					float: left;
					padding: 0 5px;
				}
			}
		}
	}
}