$font-regularText: 'DINNextLTPro-LightCondensed', sans-serif;
$font-title: 'DINNextLTPro-MediumCond', sans-serif;
$font-button: 'HelveticaRounded-BoldCond', sans-serif;
$font-subText: 'DINNextLTPro-Condensed', sans-serif;
$mainBlueColor: #033b93;
$mainYellowColor: #ffbb00;

html
{
	body
	{
		overflow: hidden;
		#searchTripPart
		{
			#searchPanel
			{
				margin-top: 0; 
				#searchPanelWrapper.extraStyleResultsSearchPanel
				{
					background: none;

					h2
					{
						font-size: 20px;
						font-family: $font-title;
					}

					input#editLocation
					{
						border-radius: 5px;
						@include inputFieldStyle();
						width: 100%;
						/* margin:0 15%; */
						padding: 5px;
						@include font-size(2.0);
						font-family: $font-subText;

					}

					#saveTrip, .editTrip
					{
						/* width: 100%; */
						
						@include font-size(2.0);
						@include blueButtonClass();
						font-family: $font-title;
						padding: 5px 18px;
						margin: 10px 0;
						width: 100%;
						border-radius: 5px;
					}

					.rowStyle
					{
						background-color: #ffffff;
						margin: 10px 0;
						padding: 5px 0;

						.categories
						{
							/* .item
							{
								width: 50%;
							}


								.masonry .item,
								.masonry .grid-sizer {
								  height: 60px;
								  float: left;
								  background: #D26;
								  border: 2px solid #333;
								  border-color: hsla(0, 0%, 0%, 0.5);
								  border-radius: 5px;
								}

								.item.w2 { width:  40%; }

								.item.h2 { height: 100px; }
								.item.h3 { height: 130px; }
								.item.h4 { height: 180px; }*/

								.category
								{
									background-position: top center;
									background-repeat: no-repeat;
									@include backgroundSize(5.5);
									padding: 45px 8px 0px 8px;
									float: left;
									width: 30%;
									margin: 0 1.5%;
									text-align: center;
								}

								.category:hover
								{
									cursor: pointer;
								}

								@include resultItemCategory();

/* 								.everything
								{
									background-image: url('../../images/lightblue_icons/everything.png');
									color: #3562A9;
								} */

								.everythingHover//.everything:hover
								{
									background-image: url('../../images/blue_icons/everything.png');
									color: $mainBlueColor;
								}

								.everythingActive
								{
									background-image: url('../../images/yellow_icons/everything.png');
									color: $mainYellowColor;
								}

/* 								.visit
								{
									background-image: url('../../images/lightblue_icons/visit.png');
									color: #3562A9;
								} */

								.visitHover//.visit:hover
								{
									background-image: url('../../images/blue_icons/visit.png');
									color: $mainBlueColor;
								}

								.visitActive
								{
									background-image: url('../../images/yellow_icons/visit.png');
									color: $mainYellowColor;
								}

/* 								.adventure
								{
									background-image: url('../../images/lightblue_icons/adventure.png');
									color: #3562A9;
								} */

								.adventureHover//.adventure:hover
								{
									background-image: url('../../images/blue_icons/adventure.png');
									color: $mainBlueColor;
								}

								.adventureActive
								{
									background-image: url('../../images/yellow_icons/adventure.png');
									color: $mainYellowColor;
								}

/* 								.recreation
								{
									background-image: url('../../images/lightblue_icons/recreation.png');
									color: #3562A9;
								} */

								.recreationHover//.recreation:hover
								{
									background-image: url('../../images/blue_icons/recreation.png');
									color: $mainBlueColor;
								}

								.recreationActive
								{
									background-image: url('../../images/yellow_icons/recreation.png');
									color: $mainYellowColor;
								}

/* 								.lodging
								{
									background-image: url('../../images/lightblue_icons/lodging.png');
									color: #3562A9;
								} */

								.lodgingHover//.lodging:hover
								{
									background-image: url('../../images/blue_icons/lodging.png');
									color: $mainBlueColor;
								}

								.lodgingActive
								{
									background-image: url('../../images/yellow_icons/lodging.png');
									color: $mainYellowColor;
								}

/* 								.gastronomy
								{
									background-image: url('../../images/lightblue_icons/gastronomy.png');
									color: #3562A9;
								} */

								.gastronomyHover//.gastronomy:hover
								{
									background-image: url('../../images/blue_icons/gastronomy.png');
									color: $mainBlueColor;
								}

								.gastronomyActive
								{
									background-image: url('../../images/yellow_icons/gastronomy.png');
									color: $mainYellowColor;
								}

						} 
					}


				}
			}

			#resultSection
			{
				background-color: #f4f8f9;
				/* margin-top: -67px; */
				border-left:2px solid  $mainBlueColor;
				overflow: scroll;
				height: 100%;
				padding-bottom: 50px;

				h2
				{
					@include font-size(2.2);
					font-family: $font-title;
					margin-top: 20px;
				}

				#resultCount
				{
					float: left;
					width: 50%;
				}

				#backToResults 
				{
					background-image: url('../../images/back.png');
					background-repeat: no-repeat;
					background-position: left center;
					text-indent: 15px;
					display: none;
				}

				#backToResults:hover
				{
					cursor: pointer;
					text-decoration: underline;
				}

				.searchExtraStyle
				{	
					margin-top:20px;
					/* right: -32px; */
					float: right;

					#deleteEvent
					{
						float: left;
						margin-right: 10px;
					}

					#inputEvent
					{
						border-radius: 5px 0 0 5px;
						border: 2px solid  $mainBlueColor;
						float: left;
						padding: 5px;
						width: 227px;
					}

					#searchEvent
					{
						/* border-radius: 0 5px 5px 0;
						background-image: url('../../images/search.png');
						background-position: top 4px center;
						background-repeat: no-repeat;
						background-size: 23px;
						padding: 7px 20px;
						background-color:  $mainBlueColor;
						border: none; */
						@include smallblueButton();
						border-radius: 0 5px 5px 0;
						background-image: url('../../images/search.png');
					}

					.resultButtonClass
					{
						background-position: top center;
						background-repeat: no-repeat;
						@include backgroundSize(4.2);
						border-radius: 5px;
						background-color: #033b93;
					}

					.mobAddToMyTrips
					{
						display: none;
						float: left;
						padding: 7px 17px;
						margin-right: 10px;
						border:none;
						width: 135px;
						font-family: $font-title;
						//visibility: hidden; //displayed on the results details pages
						background-position: left 5px center;
						background-color: $mainBlueColor;
						@include backgroundSize(2.3);
						background-image: url('../../images/plus_2.png');
						color: #ffffff;
						@include font-size(2);
						text-indent: 10px;
					}

					.addToMyTrips
					{
						//@include smallblueButton();
						display: none;
						float: left;
						/* padding: 7px 17px; */
						padding: 11px 21px;
						margin-right: 10px;
						border:none;
						background-position: center center;
						//visibility: hidden; //displayed on the results details pages
						background-image: url('../../images/placeholders/placeholders-36.png');
					}

					.shareTrip
					{
						display: none;
						float: left;
						/* padding: 7px 17px; */
						padding: 11px 21px;
						margin-right: 10px;
						border:none;
						//visibility: hidden; //displayed on the results details pages
						background-image: url('../../images/placeholders/placeholders-37.png');
					}

					#mobSaveTrip, #mobEditTrip, #mobSaveOptionsTrip
					{
						display: none;
						background-color: $mainBlueColor;
						padding: 12px 22px;
						border-radius: 5px;
						border: none;
						margin-left: 10px;
						float: right;
						background-repeat: no-repeat;
						background-position: center center;
						@include backgroundSize(5.0);
					}

					#mobSaveTrip, #mobSaveOptionsTrip
					{
						background-image: url('../../images/mobile_icons/Mobile-18.png');
					}

					.mobEditTrip
					{
						background-image: url('../../images/mobile_icons/Mobile-14.png');
					}

					.mobToggleView
					{
						background-image: url('../../images/mobile_icons/Mobile-17.png');
					}

				}

				#resultDetail
				{

					margin-bottom: 70px;
					color: #ffffff;
					/* display: none; */

					.result 
					{
						  width: 50%;
						  padding: 10px;
						  min-height: 100px;
						  border-color: hsla(0, 0%, 0%, 0.7);
					}

					.generalDetails
					{

						border: 1px solid #d4e1e5;
						h1
						{
							color: $mainYellowColor;
							font-family: $font-title;
						}

						.resultTelephone, .resultAddress, .resultWebsite, .resultGeneralHours, .resultEmail
						{
							background-repeat: no-repeat;
							padding-left: 28px;
						}


						.resultAddress
						{
							background-image: url('../../images/placeholders/placeholders-35.png');
							background-position: left center;
							@include backgroundSize(1.6);

							p
							{
								margin: -10px 0 10px 0;
							}
						}

						.resultTelephone
						{
							background-image: url('../../images/placeholders/placeholders-34.png');
							@include backgroundSize(1.3);
						}

						.resultWebsite
						{
							background-image: url('../../images/placeholders/placeholders-33.png');
							@include backgroundSize(1.9);
							background-position: center left;
						}

						.resultGeneralHours
						{
							background-image: url('../../images/placeholders/opening.png');
							@include backgroundSize(1.9);
							background-position: center left;
						}

						.resultEmail
						{
							background-image: url('../../images/placeholders/placeholders-32.png');
							@include backgroundSize(1.9);
							background-position: center left;
						}

						ul.firstUl
						{

							margin-right:80px;
						}

						ul
						{
							float: left;
							font-family: $font-subText;
							@include font-size(2);
						}

						background-color: $mainBlueColor;
						background-image: url('../../images/white_icons/recreation.png');
						background-position: right 15px top 15px;
						@include backgroundSize(4.5);
						background-repeat: no-repeat;
						padding: 0 20px 0 20px;

					}


					#searchMap
					{
						height: 15%;
						/* width: 50%; */
					}

					.resultExtraInfo
					{
						color: $mainBlueColor;
						padding: 0 10px 10px 10px;

						.resultPicture
						{
							width: 100%;
						}

						.resultSubInfo
						{
							background-image: url('../../images/placeholders/placeholders-27.png');
							background-position: left 20px center;
							background-repeat: no-repeat;
							padding: 50px 10%;
							background-color: #ffffff;
							border: 1px solid #d4e1e5;
							position: relative;

							img
							{
								float: left;
								padding: 10px 20px 10px 20px;
							}

							.resultOpeningHours:first-child
							{
								/* margin-left: 40px; */
								margin-left: 20px;
							}

							.resultOpeningHours
							{
								float: left;
								margin: -24px 0 -24px 0;

								.openingDay
								{
									font-family: $font-button;
									@include font-size(1.2);
									margin-right: 5px;
									margin-left: 15px;
								}

								.openingHour
								{
									font-family: $font-subText;
									@include font-size(1.6);
								}
							}

							p
							{
								font-family: $font-subText;
								color: #d8e1e5;position: absolute;
								bottom: 2px;
								display: block;
								right: 25px;
							}
						}

						.resultExtraPictures
						{
							background-color: #ffffff;
							border: 1px solid #d4e1e5;
							width: 100%;
							display: inline-block;

							li
							{
								float: left;
								margin: 2.4%;
								img
								{

								}
							}
						}
					}

					.resultDescription
					{
						color: $mainBlueColor;
						font-family: $font-regularText;
						@include font-size(2.2);
						border: 1px solid #d4e1e5;
						background-color: #ffffff;
						margin-top: 15px;
					}
				}
					/* ---- .item ---- */
					.isotope
					{
						/* display: none; */ // TEMPORARY FOR PREVIEWING THE DETAILS DIV
						margin-bottom: 20px;

						.item:hover
						{
							cursor:pointer;
						}

						.item 
						{
						  width: 33.333%;
						  padding: 10px;
						  min-height: 100px;
						  border-color: hsla(0, 0%, 0%, 0.7);

						  .resultItem
						  {
						  	border: 1px solid #d4e1e5;
						  	background: #ffffff;

						  	.resultImage
						  	{
						  		width: 100%;
						  	}

						  	/* .resultSubText:hover
						  	{
						  		cursor:pointer;
						  	} */

						  	.resultSubText
						  	{
						  		padding: 6px;
								margin: 0;
								min-height: 65px;
						  		.resultCategory
						  		{
						  			//background-image: url('../../images/blue_icons/recreation.png');
							  		background-repeat: no-repeat;
							  		@include backgroundSize(5.0);
							  		background-position: left center;
							  		border: 1px solid #d4e1e5;
							  		padding: 25px;
									float: left;

						  		}


									@include resultItemCategory();

						  		.resultInfo
						  		{
						  			float: left;
									margin: 9px 7px;
									line-height: 20px;
									font-family: $font-subText;
									@include font-size(1.6);

									h2
									{
										margin: 0;
									}

									.resultLocation
									{
										float: left;
										color: $mainYellowColor;
									}

									.resultKm
									{
										float: left;
										margin-left: 5px;
									}
						  		}
						  	}
						  }
						}
					}

			}
		}
	}
}