@media only screen and (min-width : 0px)  and (max-width : 400px){
	html 
	{
		body
		{

			#searchTripPart #searchPanel #searchPanelWrapper.extraStyleResultsSearchPanel .rowStyle .categories .category
				{
					@include backgroundSize(3.5);
					@include font-size(1);
					background-position: center center;

					width: 13%;
					padding: 45px 0px 0px 0px;
				}
		}
	}
}


@media only screen and  (max-width : 310px)  {
	html 
	{
		body 
		{
			#searchTripPart 
			{
				#resultSection 
				{
					#resultDetail 
					{
						.generalDetails 
						{
							ul
							 {
								float:left;
								clear: both;

							 }
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width : 430px) {
	html 
	{
		body
		{
			#searchTripPart
			{
				.loginBox,  .registerBox 
				 {
				 	/* label
				 	{
				 		@include font-size(1.2);
				 		width: auto;
				 	} */


				 		::-webkit-input-placeholder { @include font-size(1.3); }
						::-moz-placeholder { @include font-size(1.3);  } /* firefox 19+ */
						:-ms-input-placeholder { @include font-size(1.3);  } /* ie */
						input:-moz-placeholder { @include font-size(1.3);  }

				 	h1
				 	{
				 		@include font-size(1.8);
				 	}

				 	#loginButton, #registerButton
				 	{
				 		@include font-size(1.5);
				 	}
				 }

				 .welcomeBox
				 {
				 	#planTripButton
				 	{
				 		@include font-size(1.8);
				 	}
				 }

					 #resultSection
					{
						
						.isotope
						{
							.item
							{
								
								.resultItem
								{
									.resultSubText
									{
										
										.resultInfo
										{
											.resultName
											{
												@include font-size(1.7);
											}
										}
									}
								}
							}
						}
					}
					#resultSection 
					{
						.searchExtraStyle
						{
							#mobSaveTrip,#mobEditTrip, #mobSaveOptionsTrip
							{
								@include backgroundSize(3);
								padding: 8px 17px;
								margin-left: 5px;
							}
						}
					}

					
			} 
		}
	}
}


@media only screen and (min-width:819px) and  (max-width : 991px) {
	html
	{
		body
		{
			#searchTripPart
			{
				#searchPanel
				{
					width: 30%;
					float: left;

					#searchPanelWrapper
					{
						 #calendarPart
						 {
						 	 #calendars 
						 	 {
								margin: 0;
								width: 100%;
							}
						 }
					}
				}

				.googleMap
				{
					width: 70%;
				}

				#resultSection
				{
					 #resultDetail
					 {
					 	 .resultExtraInfo
					 	 {
					 	 	 .resultSubInfo
					 	 	 {
					 	 	 	/*  background: none; */
					 	 	 	/*  padding: 50px 0; */

					 	 	 	 .resultOpeningHours:first-child
					 	 	 	 {
					 	 	 	 	margin-left: 0;
					 	 	 	 }
					 	 	 }
					 	 }
					 }
				}
			}

			#searchTripPart #searchPanel #searchPanelWrapper.extraStyleResultsSearchPanel .rowStyle .categories
			{
				@include font-size(1.2s);
			}

			.loginBox,  .registerBox
			{
				#closeImage, #closeLoginImage, #closeRegisterImage
				{ 	
					margin-top: -21px;
					margin-right: 0px;
				}
			}

			.welcomeBox
			{	
				#closeImage
				{ 	
					margin-top: -21px;
					margin-right: 0px;
				}
			}
		}
	}
}

@media only screen and (max-width:1153px) {
	html
	{
		body
		{
			#searchTripPart
			{
				#resultSection
				{
					 #resultDetail
					 {
					 	 .resultExtraInfo
					 	 {
					 	 	 .resultSubInfo
					 	 	 {
					 	 	 	 background: none;
					 	 	 	 padding: 50px 0;

					 	 	 	 .resultOpeningHours:first-child
					 	 	 	 {
					 	 	 	 	margin-left: 0;
					 	 	 	 }
					 	 	 }
					 	 }
					 }
				}
			}
		}
	}
}

@media only screen and (max-width:957px) {
	html
	{
		body
		{
			#searchTripPart
			{
				#resultSection
				{
					 #resultDetail
					 {
					 	 .resultExtraInfo
					 	 {
					 	 	 .resultSubInfo
					 	 	 {
					 	 	 	 background: none;
					 	 	 	 padding: 50px 0;

					 	 	 	 .resultOpeningHours
					 	 	 	 {
					 	 	 	 	float: none;
									clear: both;
									margin: -24px 0 -24px 0;
									display: initial;
					 	 	 	 }
					 	 	 }
					 	 }
					 }
				}
			}
		}
	}
}




@media only screen and (max-width : 818px)  {
/* @media only screen and (max-width : 768px) { */
	html
	{
			/* .resultPage
			{
				overflow: hidden;
			} */

			body
			{
				overflow: visible;
				background-color: #ffffff;
				header
				{

					border-bottom: 5px solid #ffbb00;
					margin-top: -25px;
					#regularNav
					{
						display: none;
					}

					#mobileNav
					{
						display: block;
						margin-top: -10px;

						#homeButton
						{
							padding: 13px 33px;
							margin-left: 0px;
							margin-top: 6px;
						}
					}

					border-top:none;
					height: 60px;
				}

				#searchTripPart
				{
					// ENABLES TO SWITH GOOGLEMAP AND SEARCHPANEL IN POSITION
					display: -moz-box-flex;
					display: -webkit-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					-moz-box-orient: vertical;
					-webkit-box-orient: vertical;
					-ms-flex-direction: column;
					-webkit-flex-direction: column;
					flex-direction: column;
					/* margin-top: -22px;
 */
					.resultPage
					{
						#searchPanel
						{
							position: fixed;
						}
					}

					.myTripsPage
					{

						#resultSection
						{
							display: none;
						}
					}

					#searchPanel
					{
						// ENABLES TO SWITH GOOGLEMAP AND SEARCHPANEL IN POSITION
						// GOOGLEMAP GOES ABOVE THE SEARCHPANEL IN MOBILE VERSION
						-webkit-box-ordinal-group: 2;  
					 	-moz-box-ordinal-group: 2;  
					 	-ms-flex-order: 2;     
					 	-webkit-order: 2;  
					 	order: 2;
					 	width: 100%;

						overflow: visible;
						height: auto;
						margin-top: 15px;

						margin:0;
						padding: 0;

						/* position: fixed; */
						bottom: 0;
						/* height: 18%; */


						 #searchPanelWrapper
						 {


						 	 #searchTrip
						 	 {
						 	 	background-size: 100%;
						 	 	background-position: center center;
						 	 }

						 	 .changeTripInfoPart, .saveTripInfoPart
						 	 {
						 	 	display: none;
						 	 }

						 	 .categoryPart
							{
								h2
								{
								 	display: none;
								 }
							}

							#calendarPart
							{
								#calendars
								{
									margin: 0 30%;
									width: 40%;
								}
							}
						 }
					}

					.googleMap
					{
						// ENABLES TO SWITH GOOGLEMAP AND SEARCHPANEL IN POSITION
						// GOOGLEMAP GOES ABOVE THE SEARCHPANEL IN MOBILE VERSION
						  -webkit-box-ordinal-group: 1;  
						  -moz-box-ordinal-group: 1;  
						  -ms-flex-order: 1;     
						  -webkit-order: 1;  
						  order: 1;
					 		width: 100%;

							/* margin-top: 0; */
							margin-top: 0;
							/* height: 50%; */
							height: 140px;
							overflow: visible;

							#searchMap
							{
								border-left:none;
							}
					}

					.title
					{
						/* position: absolute;
						top: 0;
						width: 100%;
						text-align: center;
						margin: 0; */
						display: none;
					}

					#resultCount
					{
						position: absolute;
						width: 100%;

						text-align: center;
					}

					

					 #resultSection
					{
						height: 75%;
						/* margin-top: -13px; */
						padding: 0;
						border-left: none;

						#resultDetail
						 {
						 	.result
						 	{
						 		width: 100%;
						 	}

						 	.generalDetails
						 	{
						 		ul.firstUl
						 		{
						 			float: left;
						 			margin-right: 0px;
						 		}

						 		ul
						 		{
						 			float: right;
						 		}
						 		margin-bottom: 20px;
						 	}

						 	.searchMap
						 	{
						 		width: 100%;
						 	}

						 	.resultDescription
						 	{
						 		h2
						 		{
						 			display: block;
						 		}
						 	}

						 	 .resultExtraInfo
						 	 {
						 	 	 .resultSubInfo
						 	 	 {
						 	 	 	 /* background: none; */
						 	 	 	 padding: 50px 0;
						 	 	 	 background-image: url('../../images/placeholders/placeholders-27.png');
									background-position: left 20px center;
									background-repeat: no-repeat;

						 	 	 	 .resultOpeningHours
						 	 	 	 {
						 	 	 	 	float: left;
										margin: -24px 0 -24px 0;
										clear:none;
						 	 	 	 }

						 	 	 	 .resultOpeningHours:first-child
						 	 	 	 {
						 	 	 	 	margin-left: 75px;
						 	 	 	 }

						 	 	 	 .resultOpeningHours
						 	 	 	 {
						 	 	 	 	.openingDay
						 	 	 	 	{
						 	 	 	 		@include font-size(1.3);
						 	 	 	 	}

						 	 	 	 	.openingHour
						 	 	 	 	{
						 	 	 	 		@include font-size(1.2);
						 	 	 	 	}
						 	 	 	 }

						 	 	 	 p
						 	 	 	 {
						 	 	 	 	bottom: -11px;
										right: 5px;
						 	 	 	 }

						 	 	 }
						 	 }
						 }
						h2
						{
							display:none;

						}

						#backToResults
						{
							display: none;
						}

						.searchExtraStyle 
						{
							margin-top: 0;
							background-color: #d8e1e5;
							right: 0px;
							padding: 10px;
							width: 100%;

							#inputEvent
							{
								padding: 10px;
								/* @include staticWidthSize(14.0); */
								width: 40%;
							}

							#searchEvent
							{
								padding: 12px 21px;
							}

							#mobEditTrip, #mobSaveTrip, #mobSaveOptionsTrip
							{
								display: block;
							}

							#deleteEvent
							{
								display: none;
							}
						}

						.isotope
						{

							.item
							{
								/* width: 100%; */
								width: 50%;

								.resultItem
								{
									.resultSubText
									{
										min-height: 0;
										.resultCategory 
										{
											border: none;
											@include backgroundSize(3.5);
											padding: 22px 20px;
										}

										.resultInfo
										{
											float: none;
											background-image: url('../../images/placeholders/placeholders-31.png');
											background-position: right top 5px;
											background-repeat: no-repeat;
											line-height: inherit;
											.resultName
											{
												display: block;
												/* @include font-size(2); */
											}

											.resultLocation, .resultKm
											{
												display: none;
											}
										}
									}
								}
							}
						}
					}
				}

				#ui-datepicker-div
				{
					@include font-size(1.2);
				}

				#searchTripPart #searchPanel #searchPanelWrapper.extraStyleResultsSearchPanel .rowStyle .categories .category
				{
					width: 13%;
					/* @include backgroundSize(4.5); */
					padding: 45px 0px 0px 0px;/* 
					@include font-size(1.5);
					background-position: center top; */
				}


				.loginBox,  .registerBox
				{
					width: 60%;
					/* margin: 0% 20%; */
					margin: 100px 20%;

					#closeImage, #closeLoginImage, #closeRegisterImage
					{
					 	
					margin-top: -20px;
					margin-right: -5px;
					}
				}

				.welcomeBox
				{
					width: 80%;
					margin: 100px 10%;
					
					#closeImage
					{ 	
						margin-top: -21px;
						margin-right: 0px;
					}
				}
			}

	}
}

@media only screen and  (max-width : 530px)  {
/* @media only screen and (max-width : 768px) { */
	html
	{
			body
			{
				#searchTripPart
				{					
					#searchPanel
					{
						 #searchPanelWrapper
						 {

							#calendarPart
							{
								#calendars
								{
									margin: 0 17.5%;
									width: 65%;
								}
							}
						 }
					}

				}
			}
	}
}

@media only screen and  (max-width : 367px)  {
/* @media only screen and (max-width : 768px) { */
	html
	{
		body
		{
			#searchTripPart
			{
				#resultSection
				{
					 #resultDetail
					 {
					 	 .resultExtraInfo
					 	 {
					 	 	 .resultSubInfo
					 	 	 {
					 	 	 	 background: none;
					 	 	 	 padding: 50px 0;

					 	 	 	 .resultOpeningHours
					 	 	 	 {
					 	 	 	 	float: none;
									clear: both;
									margin: -24px 0 -24px 0;
									display: initial;
					 	 	 	 }
					 	 	 }
					 	 }
					 }
				}
			}
		}
	}
}

@media only screen and  (max-width : 325px)  {
/* @media only screen and (max-width : 768px) { */
	html
	{
			body
			{
				#searchTripPart
				{					
					#searchPanel
					{
						 #searchPanelWrapper
						 {

							#calendarPart
							{
								#calendars
								{
									margin: 0;
									width: 100%;
								}
							}
						 }
					}

				}
			}
	}
}








/* @media only screen and (max-width : 993px) {
	html 
	{
		body
		{
			#searchTripPart
			{
				.loginBox,  .registerBox , .welcomebox
				 {

					#closeImage, #closeLoginImage, #closeRegisterImage
					{
				 		top: -20px;
						right: 8px;
					}
				 }
			} 
		}
	}
} */